<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center p-5">
            <h2>Dashboard</h2>

            <h2 [ngClass]="{'header':true}">Most common hobby</h2>
            <table mat-table [dataSource]="mostCommonHobbie" class="mat-elevation-z8 mb-3">
                <ng-container matColumnDef="hobbies">
                    <th mat-header-cell *matHeaderCellDef> hobbies </th>
                    <td mat-cell *matCellDef="let element"> {{mostCommonHobbie}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="hobbiesColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: hobbiesColumn;"></tr>
            </table>

            <h2 [ngClass]="{'header':true}">motor type by gender</h2>
            <table mat-table [dataSource]="mostPickedEngine" class="mat-elevation-z8 mb-3">
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <ng-container matColumnDef="motorType">
                    <th mat-header-cell *matHeaderCellDef> motorType </th>
                    <td mat-cell *matCellDef="let element"> {{element.motorType}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="motorTypeByGenderColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: motorTypeByGenderColumn;"></tr>
            </table>

            <h2 [ngClass]="{'header':true}">City with most visitors from</h2>
            <table mat-table [dataSource]="cityWithMostVisitors" class="mat-elevation-z8">
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef> city </th>
                    <td mat-cell *matCellDef="let element"> {{cityWithMostVisitors}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="mostVisitorsColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: mostVisitorsColumn;"></tr>
            </table>
        </div>
        <div class="col-12 col-md-6 text-center pt-5">
            <div class="col-12 d-flex flex-column align-items-center">
                <h2>Most common hobby</h2>
                <canvas baseChart [type]="'pie'" width="250px" [datasets]="pieChartDatasets1" [labels]="pieChartLabels1"
                    [options]="pieChartOptions1" [plugins]="pieChartPlugins1" [legend]="pieChartLegend1">
                </canvas>
            </div>

            <div  class="col-12 d-flex flex-column align-items-center">
                <h2>Motor type by gender</h2>
                <canvas baseChart [type]="'pie'" width="250px" [datasets]="pieChartDatasets2" [labels]="pieChartLabels2"
                    [options]="pieChartOptions1" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2">
                </canvas>
            </div>

            <div class="col-12 d-flex flex-column align-items-center">
                <h2>City with most visitors from</h2>
                <canvas baseChart [type]="'pie'" width="250px" [datasets]="pieChartDatasets3" [labels]="pieChartLabels3"
                    [options]="pieChartOptions3" [plugins]="pieChartPlugins3" [legend]="pieChartLegend3">
                </canvas>
            </div>

        </div>
    </div>
</div>