<div class="container">
    <div class="row">
        <div class="col-12 text-center p-5">
            <h2>Dashboard</h2>

            <h2>color by age</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="favoriteColor">
                    <th mat-header-cell *matHeaderCellDef> favoriteColor </th>
                    <td mat-cell *matCellDef="let element"> {{element.favoriteColor}} </td>
                </ng-container>

                <ng-container matColumnDef="birthDate">
                    <th mat-header-cell *matHeaderCellDef> birthDate </th>
                    <td mat-cell *matCellDef="let element"> {{element.birthDate | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <h2>motor type by gender</h2>
            <table mat-table [dataSource]="motorTypeByGenderDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="motorType">
                    <th mat-header-cell *matHeaderCellDef> motorType </th>
                    <td mat-cell *matCellDef="let element"> {{element.motorType}} </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="motorTypeByGenderColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: motorTypeByGenderColumn;"></tr>
            </table>

            <h2>City with most visitors from</h2>
            <table mat-table [dataSource]="mostVisitorsDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef> city </th>
                    <td mat-cell *matCellDef="let element"> {{element.location.city}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="mostVisitorsColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: mostVisitorsColumn;"></tr>
            </table>
        </div>
    </div>
</div>